In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
file_path = "./data/서울시 주요 115장소 영역/서울시 주요 115장소 영역.shp"
gdf = gpd.read_file(file_path)

In [3]:
polygon2coords = lambda poligon: poligon.exterior.coords

coords2lng = lambda coords: list(map(lambda coord: coord[0], coords))
coords2lat = lambda coords: list(map(lambda coord: coord[1], coords))

In [4]:
all_coord_df = pd.concat(
    [
        gdf.drop(columns=["geometry"]),
        gdf["geometry"]
        .apply(lambda x: (list(polygon2coords(x))))
        .apply(pd.Series),
    ],
    axis = 1
)
all_coord_df.head(5)

,CATEGORY,AREA_CD,AREA_NM,0,1,2,3,4,5,6,...,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083
0,관광특구,POI001,강남 MICE 관광특구,"(127.06027547260382, 37.513903342198184)","(127.06039604784763, 37.51385403507078)","(127.06156802776177, 37.51170667705016)","(127.06289276797845, 37.50927943837497)","(127.06257374902839, 37.50867271170524)","(127.06002419097261, 37.50789082155713)","(127.05991981228244, 37.50792565447077)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,관광특구,POI002,동대문 관광특구,"(127.01759028830955, 37.56949795219521)","(127.01771620773675, 37.56938246436044)","(127.01773129983349, 37.56921117045667)","(127.01775394919522, 37.568952269033936)","(127.01800389875964, 37.565764729305705)","(127.0178031288685, 37.565561720663226)","(127.01765145951447, 37.56555012459151)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,관광특구,POI003,명동 관광특구,"(126.97600605147264, 37.56066567164939)","(126.97601639399005, 37.5606853824605)","(126.97601237474468, 37.56079242215283)","(126.9760601080263, 37.56088495983605)","(126.97668652128944, 37.562551782892044)","(126.9773352344994, 37.56421261760528)","(126.97748985790919, 37.56460655418853)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,관광특구,POI004,이태원 관광특구,"(126.99124563997569, 37.53030452088333)","(126.99120668209916, 37.53023836690555)","(126.99114687162243, 37.53023674774913)","(126.99082089884722, 37.53068661060394)","(126.99081532152935, 37.53070053670942)","(126.98817166054597, 37.53430424619359)","(126.98813110007941, 37.53435873723819)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,관광특구,POI005,잠실 관광특구,"(127.0930735179394, 37.51051251319657)","(127.09272111558306, 37.51149776510975)","(127.09290849022653, 37.51172346401625)","(127.09562452394115, 37.511992972495754)","(127.0959181856207, 37.512028316695805)","(127.09611898480881, 37.51205967987522)","(127.09617225059999, 37.51206809126827)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
all_coord_df.to_csv("all_coord_df.csv")

In [6]:
mean_coord_df = pd.concat(
    [
        gdf.drop(columns=["geometry"]),
        gdf["geometry"]
        .apply(
            lambda x: {
                "lat": np.mean(coords2lat(polygon2coords(x))),
                "lng": np.mean(coords2lng(polygon2coords(x))),
            }
        )
        .apply(pd.Series),
    ],
    axis=1,
)

mean_coord_df.head()

  CATEGORY AREA_CD       AREA_NM        lat         lng
0     관광특구  POI001  강남 MICE 관광특구  37.511284  127.060052
1     관광특구  POI002      동대문 관광특구  37.567214  127.007550
2     관광특구  POI003       명동 관광특구  37.564140  126.982884
3     관광특구  POI004      이태원 관광특구  37.534757  126.995920
4     관광특구  POI005       잠실 관광특구  37.518689  127.116944

In [7]:
mean_coord_df.to_csv("./mean_coord_df.csv")